body {
  width: 100%;
  padding: 0;
  margin: 0;
}

.tela-inteira {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 10%;
}

main {
  display: flex;
}

.menu-vertical {
  flex-basis: 200px;
  border-right-style: solid;
  border-right-width: thin;
  display: flex;
}

.botoes-meunu-vertical {
  list-style-type: none;
}

.painel-de-videos {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: center;
  padding: 20px;
}

.box-pagina-principal {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: thin;
  align-items: start;
  justify-items: stretch;
  justify-content: center;
}

footer {
  background: #333b3e;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 0 10px;
}

.box-pagina-principal > img {
  width: 100%;
  height: 200px;
}

h4 {
  margin-left: 10px;
}

#card {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

#autor {
  width: 50px;
  height: 50px;
  border-radius: 20rem;
}
