* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.812);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.img-red {
  width: 170px;
}

.about.us {
  display: flex;
  flex-direction: column;
}

.nav {
  font-size: 0.9rem;
  color: white;
  padding: 8px 10px;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: 0.4s;
}

.nav:hover {
  border-color: rgb(0, 0, 0);
}
.title {
  height: 15vh;
  text-align: center;
  padding: 15px;
}

.title p {
  text-align: center;
  padding-top: 5px;
}

.body {
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 1fr;
  justify-items: end;
  margin: 15px;
}

.sports {
  grid-column: 1/2;
  grid-template-rows: 1/2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.sport img {
  height: 160px;
  width: 220px;
  border-radius: 5%;
}

.sport h5 {
  font-size: 16px;
  padding: 5px;
}

.others {
  display: grid;
  display: flex;
  width: 17rem;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.812);
  color: white;
  margin: 0px 20px;
  gap: 30px;
}

.others img {
  height: 140px;
  width: 190px;
  border-radius: 5%;
}

.sport p {
  height: 160px;
  width: 210px;
  padding-left: 5px;
}

.others p {
  text-align: center;
  padding: 20px;
}

.footer {
  height: 10vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.812);
}

@media (max-width: 540px) {
  .header {
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.812);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }
  .img-red {
    width: 7rem;
  }
  .body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .others {
    width: 100%;
    margin: 0px;
  }
  .nav {
    font-size: 0.7rem;
    padding: 3px;
  }
}

@media (max-width: 320px) {
  .img-red {
    width: 6rem;
  }
  .nav {
    font-size: 0.5rem;
    padding: 2px;
  }
}
